Source/UltimateTvGuide.Service/Service References/TvGuide/TvGuide.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://nl.school.ultimatetvguide.Schemas.Guide" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://nl.school.ultimatetvguide.Schemas.Guide" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Guide">
    <xs:annotation>
      <xs:appinfo />
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Country" type="xs:string" />
        <xs:element name="LoadDate" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="Channel">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChannelId" type="xs:string" />
              <xs:element name="ChannelName" type="xs:string" />
              <xs:element name="Logo" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="Show">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="StartTime" type="xs:string" />
                    <xs:element name="EndTime" type="xs:string" />
                    <xs:element name="IMDBRating" type="xs:decimal" />
                    <xs:element name="Plot" type="xs:string" />
                    <xs:element name="Logo" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>